.footer{
    background: none;
    width:500px;
    height: 90px;
    display: block;
    padding: 0px;
  }
  .backLink{
background: none;
width: 100px;
    height: 100%;
    margin: 1px;
    float: left;
    text-align: left;
  }
  .nextButton{
    background:none;
    margin: 1px;
    height: 100%;
  }